<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Construction - WeBuilder Template</title>

        <!-- Icon css link -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/materialdesignicons.min.css" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="vendors/revolution/css/navigation.css" rel="stylesheet">
        <link href="vendors/animate-css/animate.css" rel="stylesheet">
        <link href="vendors/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

       <link rel="stylesheet" href="css/layout.css" type="text/css" />
		<link rel="stylesheet" href="css//layout.css" type="text/css" />
        <link rel="stylesheet" href="SCN/css/notifications.css" type="text/css" />
	<!-- 3 Column Stylesheet Added To The Page And Not To The Layout.css -->
		<link rel="stylesheet" href="css/3_column.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="./SCN/js/Estimation-.js"></script>
	
	//
	    <style type="text/css">

        .style1
        {
            width: 430px;
        }
        .style2
        {
            width: 114px;
        }
        .style3
        {
            width: 117px;
        }
        .style4
        {
            width: 118px;
        }
        .style5
        {
            width: 255px;
        }
        .style11
        {
            width: 84px;
        }
        .style12
        {
            width: 47px;
        }
        .style13
        {
            width: 255px;
            height: 28px;
        }
        .style15
        {
            width: 84px;
            height: 28px;
        }
        .style17
        {
            width: 47px;
            height: 28px;
        }
        .style18
        {
            height: 28px;
        }
        .style19
        {
            width: 255px;
            height: 33px;
        }
        .style21
        {
            width: 84px;
            height: 33px;
        }
        .style23
        {
            width: 47px;
            height: 33px;
        }
        .style24
        {
            height: 33px;
        }

        .mainResult div {
            float: left;
            clear: none;
            width: 578px;
        }

        .style25 {
            width: 900%;
        }

        .style26 {
            height: 28px;
        }

        .style27 {
            width: 217px;
        }

        .style28 {
            height: 28px;
            width: 217px;
        }

        #Select1 {
            width: 174px;
            height: 22px;
        }
		.shopBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;color: #fff;border-radius: 2px;background: #f89406;display:inline-block;padding:0 12px;border:0;}

    </style>
	//
    </head>
    <body ng-app="myApp">
       
       
        <!--================Header Area =================-->
         <header class="main_header_area">
            <div class="header_top_area">
                <div class="container">
                    
                    <div class="pull-right">
                        <ul class="header_social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_menu_area" ng-controller="HeaderController">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="img/b.jpg" alt=""></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="OurProjects.html">Projects</a></li>
                                <li><a href="New_Project.html">New Project</a></li>
                                <li class="active"><a href="c1.html">Estimations</a></li>
                                <li class="dropdown submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{loggedUsername}}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Profile.html">View Profile</a></li>
                                        <li><a href="#" ng-click="logout()">Log Out</a></li>
                                    </ul>
                                </li>
                                <li class="notifyCount" id="notifyCount" data-badge="1"><a href=""><i class="mdi mdi-message"></i></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area"  style="display: none;">
            <div class="container">
                <div class="banner_inner_text">
                    <h4>Estimation</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">Free Estimation</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        <section style="margin-top: 150px;">
            <div style="height: 10px;width: 100%;background-color: black;"></div>
        </section>
        <!--================Our Project2 Area =================-->
        <section class="our_project2_area project_grid_three">
           <div class="container">
               <div class="main_c_b_title">
                    <h2>Our<br class="title_br">Estimations</h2>
                    <h6>Great & Awesome Works</h6>
                </div>
				
                     <table align="center" class="our_project_filter">
                
                   <!--  <li class="active" data-filter="*"><a href="#">All</a></li> -->
                   <tr> <td><li class="active" data-filter=".building"><a href="c1.html">Concrete Slab</a></li></td>
                   <td> <li data-filter=".interior"><a href="c2.html">Tiling</a></li></td>
                    <td><li data-filter=".design"><a href="c3.html">Roofing</a></li></td>
                   
                   </tr>
                
				</table>
				
				
				
			<!-- 	Table start -->
			   <section class="">
            <div id="container" ng-controller="searchCtrl">
                <div id="respond">
                   
					    <table align="center">
					   <form>

					<tr>
						<td class="style13">
						            <label for="width"><small>Width (Square Feet)</small></label>
                        </td>
						<td class="style15">
							<input  type="number" ng-model="width"  name="name" id="name" value="" size="22" />
						</td>
	
						
						
						<td class="style18">
							</td>
					</tr>
					<tr>
						<td class="style19">
								<label for="length"><small>Length (Square Feet)</small></label>
						</td>
						<td class="style21">
								<input ng-model="length" type="number" name="email" id="email" value="" size="22" />
							</td>
						
						   
						<td class="style24">
							</td>
					</tr>
					<tr>
						<td class="style19">
							 <label for="length"><small>Height (Square Feet)</small></label></td>
						<td class="style11">
							             <input ng-model="height" type="number" name="email" id="email" value="" size="22" />
						</td>
						<td>&nbsp;&nbsp; </td>
						
						<td>
							&nbsp;</td>
					</tr>                            
					
					 <tr class="blank_row">
            <td ><br></td>       </tr>
					
					<p>
           <tr><td> <input ng-click="calculateSlab()" name="submit" type="submit" class="shopBtn" id="submit" value="Submit Form" /></td>
       
		
       
			
           <td>  <input name="reset" type="reset" id="reset" class="shopBtn" tabindex="5" value="Reset Form" /></td></tr>
          </p>      
		  
	<tr class="blank_row">
            <td ><br></td>       </tr> 
             <tr><td>  <h5>Total Estimation is :{{totalCost}}</h5> </tr></td> 
			
        </form><br><br>
       <tr class="blank_row">
            <td ><br></td>       </tr>
					
      
				</table>
				   	
				


		  </div>
          
            </div>
        </section>
		
		<!-- Table end -->
                <div class="row our_project_details" >
		
                    <div class="col-md-4 col-sm-6 building isolation interior">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-1.jpg" alt="">
							
							
							
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-2.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior design plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-3.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-4.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-5.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-6.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-7.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-8.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design plumbing">
                        <div class="project_item">
                            <img src="img/project/project-grid-three/project-g-three-9.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </section>
        <!--================End Our Project2 Area =================-->
         
        <!--================Get Quote Area =================-->
        <section class="get_quote_area yellow_get_quote">
            <div class="container">
                <div class="pull-left">
                    <h4>GET STARTED YOUR DREAM HOME</h4>
                </div>
                <div class="pull-right">
                    <a class="get_btn_black" href="#">SAVE YOUR MONEY</a>
                </div>
            </div>
        </section>
        <!--================End Get Quote Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
          
                    
            <div class="footer_copy_right">
                <div class="container">
                    <h4><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></h4>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-2.2.4.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="vendors/counterup/waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script>
        <script src="vendors/flex-slider/jquery.flexslider-min.js"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="js/gmaps.min.js"></script>
        
        <script src="js/theme.js"></script>
    </body>
</html>